body {
margin: 0;
padding: 0;
font: 85% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
background: #E3E3E3;
color: #2D1F16;
text-shadow: 1px 1px 10px #e3e3e3;
}

h2,h1 {
text-shadow: 0 1px 0 white;
}

#header {
background: #B80000;
height: 100px;
margin: 0;
padding: 0;
border-bottom: 1px solid #ccc;
-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}


.wrap {
margin: 0 auto;
width: 950px;
padding-bottom: 15px;
}


.wrap2 {
margin: 0 auto;
width: 920px;
}

.error {
color: red;
padding-bottom: 10px;
}

#content {
margin:0 auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #333;
border: 1px solid #ccc;
background: white;
padding: 20px;
position: relative;
margin-top: 30px;

-webkit-box-shadow: 4px 4px 17px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 17px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.75);
}

#msg {
display: none;
width: 350px;
border: 1px solid #ccc;
padding: 0px;
}

#msg img {
float: left;
padding: 2px;
}

#msg p {
clear: right;
}

#fadein {
display: none;
}



#pagination {
padding:7 0 7 0;
margin: 7 7 0 0;
}

#pagination a, #pagination strong {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 4px 2px 2px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
background: #e3e3e3;
padding: 4px 5px;
text-decoration: none;
border: 1px solid #cac9c9;
color: #292929;
font-size: 11px;
}

#pagination strong, #pagination a:hover {
font-weight: normal;
background: #B80000;
color: white;
}

#login_form {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 300px;
background: white;
border: 1px solid white;
margin: 0 auto;
padding: 1em;
-webkit-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 4px 2px 2px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
}

.powrot {
	border: none;
	padding: 6px;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 4px 2px 2px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
}

input[type=text], input[type=password] {
display: block;
margin: 0 0 1em 0;
width: 280px;
padding: 1em;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: #e3e3e3;
}

input[type=submit], input[type=reset] {
border: none;
padding: 6px;
font-size: 12px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 4px 2px 2px rgba(50, 50, 50, 0.75);
box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.75);
}

input[type=submit]:hover, input[type=reset]:hover {
background: #e3e3e3;
cursor: pointer;
}


#search {
	-webkit-border-radius: ;
	-moz-border-radius: ;
	border-radius: ;
	-webkit-box-shadow: ;
	-moz-box-shadow: ;
	box-shadow: ;
	margin-top:-20px;

}


#search input[type=submit] {
	
	float:right;	
	padding:4px;
	height:20px;
	

	
}


#search input[type=text] {
	height:20px;
	width:200px;
	float:right;
	
	
}

#footer {
margin: 30px;
text-align: center;
}

fieldset {
width: 300px;
margin: auto;
margin-bottom: 2em;
display: block;
}

 td {
border: 1px #ccc solid;
padding: 5px;
font-size: 12px;
}
.noneborder {
margin: 5px;
padding: 10 0 10 5;
	
}
    
#heading {
background-color: #E3E3E3;
font:85%;
}

	a {
text-decoration: none;
color: #B80000;
}

	
	a:hover {
color: #0289ce;
}
.sort_asc:after {
	
		content: '\25B2';
	}
.sort_desc:after {
		
		
		content: "\25BC";
	}
