body {
	margin:0;
	padding:0;
	font: 85% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background:#E3E3E3;
	color:#2D1F16;
	text-shadow: 1px 1px 10px #e3e3e3;
}

#header {
	background:#B80000;
	height:100px;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.75);
}


.wrap {
	margin:0 auto;
	width:1000px;
	padding-bottom:15px;
}


.wrap2 {
	margin:0 auto;
	width:920px;

}



#content {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	 border-radius: 5px;
	 float: right;
	 color: #333;
	 border: 1px solid #ccc;
	 background: #F2F2E6;
	 margin: 10px 0px 20px 0px;
	 padding: 20px;
	 min-height: 200px;
	 position:relative;
	 margin-top:30px;
	 left:0;
	 bottom:10;
	-webkit-box-shadow: 4px 4px 17px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 17px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 17px rgba(50, 50, 50, 0.75);
	 
}

#msg {
	
	width:350px;
	border: 1px solid #ccc;
	padding:0px;

}

#msg img {
float:left;
padding:2px;
}

#msg p {
	clear:right;
}
 td {
        border:1px #ccc solid;
        padding:5px;
        font-size: 12px;
    }
    .noneborder {
		margin:2px;
		padding-bottom:10px;
       	padding-top:10px;
    }
    
.heading {
	background-color:#E3E3E3;
}

	a {
		text-decoration:none;
			color:#B80000;
	}

	a:link {
		color:#B80000;
		}
	a:hover {
		
		color:#0289ce;
		}
	a:visited {
		color:#B80000 ;
	}
	
